[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=notify
PIDFile=/run/php-fpm/{{php_version}}.pid
#EnvironmentFile=/etc/sysconfig/php-fpm
ExecStart=/usr/local/{{php_version}}/sbin/php-fpm --nodaemonize
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
